$primary: #482370;
$danger: #e8222a;
$white: #ffffff;
$light: #f9f9f9;
$info: #408bd1;
$dark: #424242;
$darkPurple: #2c1545;
$hoverColor: #54595f;
$headingColor: #1a2b48;
$black: #000;
$mehroon: #94040c;
$skyBlue: #5191fa;
$lightGrey: #5e6d77;
$warning: #f1c40f;