.booking {
  padding-bottom: 100px;

  .container {
    @media screen and (max-width: 991px) {
      max-width: 95%;
    }
  }

  @media screen and (max-width: 991px) {
    padding-bottom: 50px;
  }

  .form-group {


    .label-form {
      font-size: 11px;
      color: grey;
      font-weight: 400;
    }

    &.label-none {
      .label-form {
        opacity: 0;
      }
    }

    .form-control {
      padding: 8px 11px;
    }

    .form-control[readonly] {
      background-color: #e9ecef;
      opacity: 1;
      color: #212529;
    }

    .react-dropdown {
      .react-select__control {
        .react-select__value-container {
          padding: 6px 11px;
          font-size: 14px;
        }
      }
    }

    .react-tel-input {
      .form-control {
        padding: 6px 11px;
      }

      .flag-dropdown {
        background-color: #fff;
      }
    }
  }

  .main-row {
    --bs-gutter-x: 2.5rem;

    .main-inner-row {
      .card {
        margin-bottom: 18px;
      }

      .rc-time-picker-input {
        padding: 8px 11px;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #dae1e7;
        line-height: 1.5;
        color: #000;
        height: inherit;
        outline: 0px;



        &:focus-visible {
          box-shadow: none !important;
        }
      }

      .invalid {

        .rc-time-picker-input {
          border-color: $danger !important;
          border-radius: 3px;
        }
      }
    }
  }

  .card {
    padding: 15px 27px;
    border-radius: 6px;
    box-shadow: 0 1px 8px 0 #0000002e;
    margin-bottom: 15px;
    border: 0;
    margin: 0;

    @media screen and (max-width: 991px) {
      margin-left: 0px;
      margin-right: 0px;
    }

    .card-body {
      padding: 0;
    }

    &.details-card {
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0 1px 8px 0 #0000002e;
      margin-bottom: 15px;

      .card-body {
        .property-image {
          padding-bottom: 8px;
        }

        .property-details {
          .title {
            text-transform: none;
          }
        }

        .price-details {
          h6{
          text-transform: capitalize;
          }
          ul {
            li {
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
              padding: 10px;

              h5,
              h6 {
                margin-bottom: 0;
                text-transform: none;
              }

              h6 {
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    &.day-part-details {
      .main-head {
        font-size: 34px;
      }

      .list-title {
        color: #444444;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 10px 10px 10px;
        font-family: "Lato", sans-serif;
        border: 1px solid;
        text-align: center;
        border-radius: 6px;
        margin: 30px auto 8px;
      }

      .form-main {
        label {
          font-size: 11px;
        }
      }

      .choose-option {
        color: #92060f;
        margin-top: -8px;
        margin-bottom: 5px;
      }
    }

    &.special-requests {
      span {
        color: #d40000;
        font-size: 11px;
      }

      h4 {
        font-size: 22px;
        color: grey;
        text-transform: uppercase;
      }

      .form-group {
        margin-bottom: 0 !important;
      }
    }

    &.important-info {
      padding: 0;

      .card-header {
        background: #d40000;
        padding: 10px;

        h4 {
          color: $white;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }

      .card-body {
        padding-top: 30px;

        ul {
          padding-left: 40px;
          padding-right: 40px;

          li {
            list-style: decimal-leading-zero;
          }

          a {
            text-decoration: none;
            color: #0d6efd;
          }
        }
      }
    }

    &.coupon {
      padding: 10px;

      .form-group {
        width: 70%;
        float: left;
        border-radius: 0;
        margin-bottom: 0 !important;

        .form-control {
          height: 100%;
          border-radius: 0;
        }
      }

      .btn {
        padding: 6px;
        border-radius: 0;
        background: #5a3483;
        width: 30%;
        float: left;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  .gst-section {
    .form-group {
      .form-check {
        input {
          margin-right: 8px;

          &:checked {
            background-color: #5a3483;
            border-color: #5a3483;
          }
        }

        label {
          font-weight: 500;
          color: $headingColor;
          vertical-align: sub;
        }
      }
    }


  }

  .proceed {
    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
    }

    .btn {
      padding: 6px 26px;
      border-radius: 0;
      background: #5a3483;
      float: left;
      color: #fff;
    }
  }

  .sticky-top {
    z-index: 1;
  }
}

.fill-bar {
  padding-top: 40px;

  .container {
    @media screen and (max-width: 991px) {
      max-width: 95%;
    }
  }

  .card {
    padding: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 0;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;

    .card-body {
      padding: 0;

      .inner {
        padding: 12px 40px;
        border: 1px solid #ccc;
        border-radius: 6px;

        p {
          margin-bottom: 0;
          color: #5a3483;
          font-size: 14px;

          &.pax-label {
            width: 80px;
            text-align: center;
            line-height: normal;
          }
        }

        ul {
          li {
            font-size: 20px;
          }
        }

        .quantity {
          .input-group {
            width: 81px;

            .btn {
              padding: 0;
              border: 0;
              z-index: 1;
            }

            input {
              border: 0;
              font-size: 20px;
              height: 25px;
            }
          }
        }

        &.booking-inner {
          padding: 10px;
          min-height: 66px;

          @media screen and (max-width: 991px) {
            margin-bottom: 15px;
          }

          .form-group {
            margin-bottom: 0 !important;

            .react-dropdown {
              .react-select__control {
                border: 1px solid #dae1e7;
                min-height: auto;
                border: 0;
                box-shadow: none;

                .react-select__value-container {
                  padding: 0px;
                }

                .react-select__indicators {
                  .react-select__indicator {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .back-btn {
    padding: 6px 61px;
    border-radius: 0;
    background: #5a3483;
    float: left;
    color: #fff;
  }
}

.p-20{
  padding: 20px;
}