.menu-images-slider {
	.modal-close-button {
		position: absolute;
		right: 10px;
		top: 10px;
		background: #fff;
		border-radius: 20px;
		height: 30px;
		width: 30px;
		padding: 0px;
		z-index: 2;
	}


	.modal-body {
		position: relative;
		/* Ensures positioning context for child elements */
	}

	.swiper-navigation-buttons {
		position: absolute;
		top: 50%;
		/* Adjust to your preference */
		width: 100%;
		display: flex;
		justify-content: space-between;
		transform: translateY(-50%);
		/* Center vertically */
		z-index: 10;
		/* Ensures the buttons appear above the slider */
	}

	.swiper-button-prev-custom,
	.swiper-button-next-custom {
		background: transparent;
		/* Semi-transparent background for better visibility */
		color: #fff;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 5px;
	}

	.swiper-button-prev-custom {
		margin-left: -290px;
		/* Adjust as needed */
		.right-side-wala{
			transform: rotate(180deg);
		}
	}

	.swiper-button-next-custom {
		margin-right: -290px;
		/* Adjust as needed */
	}

	.modal-content {
		border-radius: 12px;
		border: 0px;
	}

	.modal-body {
		border: 0px;
		background-color: transparent;
		// height: 350px;
		border-radius: 12px;

		.swiper {
			.swiper-button-next {

				&::after {
					content: url(../../assets/images/slider-arrow-right.svg);
					width: 24px;
					height: 24px;
				}
			}

			.swiper-button-prev {

				&::after {
					content: url(../../assets/images/slider-arrow-left.svg);
					width: 24px;
					height: 24px;
				}

				&::before {
					background-image: url(../../assets/images/slider-arrow-left.svg);

					width: 24px;
					height: 24px;
				}
			}

			.swiper-slide {

				img {
					border-radius: 12px;
					object-fit: cover;
					width: 100%;

					// @media screen and (max-width: 991px) {
					// 	height: 100%;
					// }

				}

			}

		}

	}
}

.ala-carte-menu-list{
	.swiper-navigation-buttons {
		position: absolute;
		top: 50%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		transform: translateY(-50%);
		z-index: 10;
	}

	.swiper-button-disabled{
		background: #0e0e0e7d !important;
	}

	.swiper-button-prev-custom,
	.swiper-button-next-custom {
		background: black;
		color: #fff;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 50px;
		height: 50px;
	}

	.swiper-button-prev-custom {
		// margin-left: -290px;
		.right-side-wala{
			transform: rotate(180deg);
		}
	}

	// .swiper-button-next-custom {
	// 	margin-right: -290px;
	// 	/* Adjust as needed */
	// }
}
#VenueImageSliderModal, #AlaCarteMenuModel {
	background: #000000e6;
}

.menus-details-list {
	.modal-content {
		max-height: calc(100vh - 257px);
		border-radius: 5px;

		@media screen and (max-width: 991px) {
			height: auto;
		}
	}

	.modal-header {
		padding: 10px;
		background-color: #efefef;

		ul {
			li {
				.nav-link {
					font-size: 14px;
					color: #000;
				}

				.active {
					background-color: #5a3483 !important;
					color: #fff;
				}
			}

		}
	}

	.modal-body {
		overflow: auto;

		h3 {
			font-size: 15px;
		}
	}


}

.ala-carte-menu-list {
	.modal-content {
		height: 850px;
	}

	.modal-close-button {
		position: absolute;
		right: 20px;
		top: 10px;
		background: #fff;
		border-radius: 20px;
		height: 30px;
		width: 30px;
		padding: 0px;
		z-index: 2;
	}

	.modal-body {
		padding: 0px;
	}

	.swiper {
		.swiper-button-next {
			transform: rotate(90deg);
			width: 45px;
			height: 45px;
			z-index: 3;
			border: 1px solid #dedede;
			background-color: #ffffff;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
			border-radius: 50px;
			// top: -53px;

			&::after {
				content: url(../../assets/images/arrow-up.svg);
				// width: 24px;
				// height: 24px;
				background-repeat: no-repeat;
				background-size: cover;
				font-size: 0;
				width: 18px;
				height: 18px;
			}
		}

		.swiper-button-prev {
			transform: rotate(-90deg);
			width: 45px;
			height: 45px;
			z-index: 3;
			border: 1px solid #dedede;
			background-color: #ffffff;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
			border-radius: 50px;

			&::after {
				content: url(../../assets/images/arrow-up.svg);
				background-repeat: no-repeat;
				background-size: cover;
				font-size: 0;
				width: 18px;
				height: 18px;

			}

		}


	}
}

.comingSoonModal.btn {
	justify-content: right;
}

.modal-body.comingSoonModal {
	display: flex;
	justify-content: center;
}

.modal-body.comingSoonModal h3 {
	padding-bottom: 20px;
	border-bottom: 2px solid #fd532a;
}

.modal-dialog.comingSoonModal {
	top: 30%;
}