.dashboard-content {
  h3 {
    font-size: 24px;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      margin-left: 20px;
    }

  }

  .card {
    padding: 40px 32px;
    border: 0;
    text-align: center;
    margin: 10px 0px;

    .card-body {
      padding: 0;

      p {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $headingColor;
        margin-bottom: 0;
      }

      h2 {
        color: $headingColor;
        font-size: 36px;
        font-family: "Poppins";
        font-weight: normal;
      }
    }
  }
}

.sales-count {
  background-color: $white;
  margin-top: 30px;
  padding: 20px 30px;

  .row {
    gap: 30px 0;
  }

  h4 {
    color: $headingColor;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .card {
    padding: 17px 32px;
    border-radius: 3px;

    .card-body {
      padding: 0;

      .main-head {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0;
        font-family: "Poppins";
      }

      .sales-number {
        color: $white;
        font-size: 24px;
        margin-bottom: 0;
        font-family: "Poppins";
      }
    }

    &.hotel {
      background-color: #3498db;
      border-color: #3498db;
    }

    &.banquet {
      background-color: #ff7675;
      border-color: #ff7675;
    }

    &.restaurant {
      background-color: #2ecc71;
      border-color: #2ecc71;
    }

    &.activity {
      background: #f1c40f;
      border-color: #f1c40f;
    }

    &.party {
      background: #1abc9c;
      border-color: #1abc9c;
    }

    &.caterers {
      background: #e6a6a6;
      border-color: #e6a6a6;
    }
  }
}

.recent-booking {
  margin-top: 30px;

  .justify-between {
    h3 {
      font-size: 24px;
    }

    margin-bottom: 30px;
  }

  .card {
    border: 0;
    border-radius: 0;
    padding: 30px;
    margin: 10px 0px;

    .card-body {
      padding: 0;
    }
  }

  table {
    thead {
      tr {
        th {
          font-weight: 600;
          text-shadow: 0 0 currentColor;
        }
      }
    }

    thead,
    tbody {
      tr {
        height: auto;

        th,
        td {
          padding: 8px !important;
          line-height: 1.42857143;
          // vertical-align: top;
          color: #333;
        }
      }
    }

    tbody {
      tr {
        height: auto;

        &:nth-of-type(odd) {
          background-color: #f9f9f9;
        }

        td {
          background-color: transparent;
          box-shadow: none;
          // white-space: nowrap;

          .btn {
            font-size: 14px;

            &.btn-link {
              color: #5191fa;

              &:hover {
                text-decoration: underline;
              }

              &.id {
                color: #333;
              }
            }

            &.btn-primary {
              background-color: #5a3483;
              border-color: #5191fa;
              width: fit-content;
              padding: 1px 5px;
              font-size: 12px;
              border-radius: 3px;

              .fa-circle-info {
                margin-right: 5px;
              }
            }
          }

          &.status {
            min-width: 11rem;
            .complete {
              margin-right: 4px;
              color: #10cd78;
            }

            .pending {
              color: $warning;
              margin-right: 4px;
            }

            .delete {
              color: $danger;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
select {
  width: 10rem;
  border-radius: 6px;
  padding: 6px;
}

.form-group-all-bookings{
  background: white !important;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.01) !important;

  input{
    border: none;
  }

  .react-datepicker__tab-loop .react-datepicker-popper .react-datepicker {
    border: 1px solid rgba(0, 0, 0, 0.15);
    left: 2rem;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container {
  padding: 8px;
  min-width: 100%;
  min-height: 100%;
  box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15) !important;
  border: 0;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__header {
  background-color: #ffffff;
  border-bottom: 0;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--selected {
  background: rgba(81, 145, 250, 0.2);
  border-radius: 0;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day.future-date {
  border: 1px solid rgba(81, 145, 250, 0.2);
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day {
  color: #1a2b48;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month {
  padding-bottom: 20px;
  font-family: "Outfit";
  font-weight: 500;
  color: #1a2b48;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__month-container .react-datepicker__header .react-datepicker__day-names {
  border-top: 1px solid #d7dce3;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next .react-datepicker__navigation-icon:before {
  border: none;
  background-image: url(/_next/static/media/calender-right.577b9320.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  transform: none;
  right: 0;
  left: auto;
  background-size: cover;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous .react-datepicker__navigation-icon:before {
  border: none;
  background-image: url(/_next/static/media/calender-left.6faea181.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  transform: none;
  right: auto;
  background-size: cover;
}
.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__navigation {
  top: 5px;
  overflow: visible;
}
}

.approved {
  background-color: #10cd7830;
  color: #10cd78;
  padding: 1px 10px;
  border-radius: 80px;
  margin-top: 15px;
}
.declined {
  background-color: rgb(255 135 135 / 19%);
  color: #cd1310;
  padding: 1px 10px;
  border-radius: 80px;
  margin-top: 15px;
}
.waitlisted {
  background-color: #cdc71030;
  color: #cd9b10;
  padding: 1px 10px;
  border-radius: 80px;
  margin-top: 15px;
}