.breadcrumb-content {
  padding-top: 20px;
  // border-bottom: 1px solid #eaeef3;
  position: relative;
  z-index: 0;

  @media screen and (max-width: 1650px) {
    padding-top: 15px;
  }

  @media screen and (max-width: 991px) {
    padding-top: 20px;
  }

  .breadcrumb {
    margin-bottom: 0;

    @media screen and (max-width: 550px) {
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;
    }

    .breadcrumb-item {
      position: relative;
      font-family: "Outfit";
      font-weight: 700;
      font-size: 20px;

      @media screen and (max-width: 1440px) {
        font-size: 18px;
      }

      @media screen and (max-width: 767px) {
        padding-right: 10px;
        padding-left: 0px;
      }

      &:first-child {
        padding-left: 0;
      }

      &::before {
        color: #C7C7C7;
        font-weight: 700;

      }

      a {
        font-weight: 700;
        color: #C7C7C7;
        text-decoration: none;
        line-height: 21px;
        font-size: 20px;

        @media screen and (max-width: 1440px) {
          font-size: 18px;
        }

        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }
}