.frequently-asked {
	position: relative;
	z-index: 0;
	padding-top: 60px;

	@media screen and (max-width: 1440px) {
		padding-top: 30px;
	}

	.main-head {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 500;
		color: $headingColor;
		margin-bottom: 48px;
		margin-top: 10px;
		font-family: "Outfit";


		@media screen and (max-width: 1440px) {
			margin-bottom: 25px;
		}
	}

	.accordion {
		padding: 8px 32px;
		border-radius: 19px;
		background-color: #ffffff;
		border: 1px solid #c2c2c2;

		.accordion-item {
			border: 0;
			border-bottom: 1px solid #dee2e6;
			border-radius: 0;
			background-color: transparent;

			&:last-child {
				border-bottom: 0px;
			}

			.accordion-button {
				background: transparent;
				border: 0;
				box-shadow: none;
				font-family: "Outfit";
				padding: 20px 0;
				z-index: 1;
				font-size: 26px;
				color: #000;
				font-weight: 400;

				@media screen and (max-width: 1440px) {
					font-size: 20px;
					line-height: 1.42857143;
				}

				&:after {
					background-image: url(../../assets/images/arrow-down-purple.svg);
					z-index: 1;
				}
			}

			.accordion-button:not(.collapsed) {
				color: #4e2679;
				padding-top: 20px;
			}

			.accordion-body {
				padding: 0 0 1rem 0;

				p {

					font-size: 20px;
					color: black;

					@media screen and (max-width: 1440px) {
						font-size: 18px;
					}
				}

			}

			.accordion-header {
				margin-bottom: 0;
			}
		}

	}
}