@import "../../assets/scss/color-theme.scss";

footer {
  .keep-in-touch {
    background-color: #f55600;
    color: $white;
    padding: 30px 10px;
    position: relative;

    @media only screen and (max-width: 991px) {
      padding: 30px 10px;
    }

    .please-provide-footer {
      margin-top: 25px;

      @media only screen and (max-width: 767px) {
        margin-top: 20px;
      }

      .row {
        justify-content: center;
      }
    }


    .keep-in-touch-content {

      p {
        font-size: 18px;
        letter-spacing: 3px;
        color: #fffaf6;
        font-weight: 400;
        margin-bottom: 0px;

        @media only screen and (max-width: 1440px) {
          font-size: 16px;
        }

        @media only screen and (max-width: 720px) and (min-width: 320px) {
          font-size: 14px;
        }
      }

      h2 {
        font-size: 59px;
        color: #fffaf6;
        font-weight: 400;
        margin-bottom: 0px;

        @media only screen and (max-width: 1440px) {
          font-size: 35px;
        }
      }
    }

    .main-head {
      font-family: "Outfit";
      font-size: 40px;
      font-weight: 500;

      @media only screen and (max-width: 720px) and (min-width: 320px) {
        font-size: 24px !important;
      }
    }

    .main-description {
      font-family: "Outfit";
      font-size: 20px;
      line-height: 21px;
      color: #fffaf6;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 0px;

      @media only screen and (max-width: 1440px) {
        font-size: 18px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }



    .form-group {
      margin-bottom: 0 !important;

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem !important;
      }

      @media screen and (max-width: 550px) {
        padding-right: 0px;
      }

      .form-control {
        background-color: transparent;
        color: $white;
        border-color: #fff;
        border-width: 0 0 2px;
        border-radius: 0;
        padding: 5px 0px;
        box-shadow: none;
        font-size: 20px;
        font-weight: 500;
        font-family: "Outfit";

        @media only screen and (max-width: 1440px) {
          font-size: 18px;
        }

        @media only screen and (max-width: 1210px) {
          font-size: 16px;
        }

        &::placeholder {
          color: $white;
          opacity: 0.5;
        }
      }

      .invalid-feedback {
        color: #fff !important;
      }



      .form-check {
        font-size: 15px;
        z-index: 0;
        padding: 0;
        padding-left: 1.5rem;

        .form-check-label {
          padding-left: 6px;
          font-size: 20px;
          color: #fffaf6;
          font-weight: 400;
          font-family: "Outfit";

          @media only screen and (max-width: 1440px) {
            font-size: 18px;
          }

          @media only screen and (max-width: 767px) {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 991px) {
          margin: 20px 0;
        }

        @media screen and (max-width: 767px) {
          margin: 0;
          padding-left: 1.5rem;
        }

        input[type=checkbox] {
          height: 20px;
          width: 20px;
        }

        .form-check-input:checked {
          &:checked {
            background-color: #482370;
            border-color: #482370;
          }
        }


      }
    }

    .btn-white {
      text-transform: capitalize;
      padding: 7px 25px;
      font-size: 24px;
      font-weight: 500;
      font-family: "Outfit";
      margin-bottom: 15px;

      @media only screen and (max-width: 1440px) {
        font-size: 18px;
      }

      @media only screen and (max-width: 1210px) {
        font-size: 16px;
        padding: 5px 15px;
      }

      @media only screen and (max-width: 991px) {
        margin-top: 24px;
      }
    }

  }

  .main-footer {
    background-color: $darkPurple;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;

    .container {
      // padding: 0 4rem;
      max-width: 1440px;

      // @media screen and (min-width: 1650px) {
      //   padding: 0 4rem;
      //   max-width: 1750px;

      // }

      @media screen and (max-width: 991px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    hr {
      border-width: 2px;
      border-color: #d7d5d5;
      opacity: 100%;
      margin-top: 60px;
      margin-bottom: 20px;

      @media screen and (max-width: 991px) {
        margin-top: 20px;

      }
    }

    .pl-20 {
      padding-left: 20px;

      @media screen and (max-width: 991px) {
        padding-left: 0;
        padding-bottom: 20px;
      }
    }

    h5 {
      font-size: 28px;
      font-weight: 500;
      color: $white;
      margin-bottom: 20px;
      font-family: "Outfit";
      text-transform: none;

      @media screen and (max-width: 1440px) {
        font-size: 24px;
      }

      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }

    .footer-logo {

      .footer-logo-row {
        text-align: center;
        padding-bottom: 40px;
        justify-content: center;
      }
    }

    .nav {
      .nav-item {
        .nav-link {
          padding: 0;
          padding-bottom: 9px;
          color: $white;
          font-size: 14px;
          font-weight: 500;
          transition: color 0.3s;
          text-decoration: none;
          font-family: "Outfit";

          @media screen and (max-width: 1440px) {
            font-size: 12px;
          }

          &:hover {
            color: $hoverColor;
            transition: color 0.3s;
          }
        }

        .unclickable-nav-link {
          padding: 0;
          padding-bottom: 9px;
          color: $white;
          display: block;
          top: 0;
          font-size: 18px;
          font-weight: 500;
          transition: color 0.3s;
          text-decoration: none;
          font-family: "Outfit";

          @media screen and (max-width: 1440px) {
            font-size: 12px;
          }
        }
      }
    }

    .copyright {
      padding-top: 35px;

      @media screen and (max-width: 575px) {
        padding-top: 0;
      }

      p {
        color: $white;
        font-size: 16px;
        font-family: "Outfit";

        a {
          font-size: 16px;
          text-decoration: none;
          font-family: "Poppins";
          color: $white;
        }

        img {
          margin-right: 10px;
        }
      }
    }

    .copyright-wrapper {
      border-top: 2px solid #d7d5d5;
      margin-top: 30px;
      padding-top: 20px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
        padding-top: 15px;
      }

      p {
        @media screen and (max-width: 768px) {
          font-size: 13px;
        }
      }

      span {
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      .org {
        font-size: 30px;
        font-weight: 500;
        font-family: "Outfit";
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }

      .street-address {
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      .tel {
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      font-size: 16px;
      text-decoration: none;
      font-family: "Poppins";
      color: $white;

      a {
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Outfit";

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }

        @media screen and (max-width: 550px) {
          font-size: 16px;
        }
      }
    }
  }

  .copy-right-area-bottam {
    background-color: #160924;
    padding: 30px 0px;

    @media screen and (max-width: 550px) {
      padding: 15px 0px;
      margin-bottom: 64px;
    }

    p {
      color: #fff;
      font-size: 18px;
      font-family: "Outfit";

      @media screen and (max-width: 550px) {
        font-size: 16px;

      }
    }
  }

  .modal#venueModal,
  .modal#eventModal {
    .modal-dialog {
      max-width: 40%;
      margin: 0 auto;
      top: 40px;

      @media screen and (max-width: 1023px) {
        max-width: 95%;
      }

      .modal-content {
        padding: 14px 22px 36px;
        background-image: url(../../assets/images/List-Your-Venue.jpg);
        background-position: bottom;
        border-radius: 3px;
        border: 8px solid #ff8965;
        box-shadow: 0px 0px 30px 0px rgba(90, 52, 131, 1);
        background-color: rgba(255, 255, 255, 1);

        .modal-close {
          position: absolute;
          height: 26px;
          width: 26px;
          left: auto;
          right: 5px;
          bottom: auto;
          top: 5px;
          color: #fff;
          font-family: Arial;
          font-weight: 100;
          font-size: 15px;
          line-height: 23px;
          border: 0px solid #fff;
          border-radius: 26px;
          box-shadow: none;
          text-shadow: none;
          background-color: rgba(0, 0, 0, 1);
          padding: 1px;

          img {
            width: 16px;
          }
        }

        .modal-body {
          padding: 0;
          font-family: "Outfit";

          @media screen and (max-width: 767px) {
            max-width: 516px;
            margin: auto;
          }

          h3 {
            color: #e45830;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 767px) {
              font-size: 22px;
            }
          }

          form {
            .form-group {
              margin-bottom: 1rem !important;

              @media screen and (max-width: 767px) {
                width: 100%;
              }

              input {
                background-color: #ff8965;
                color: #fff;
                padding: 8px 12px;
                line-height: 22px;
                font-size: 1rem;
                border-radius: 7px;
                font-weight: 400;

                &::placeholder {
                  color: #fff;
                }

                &:focus {
                  border-color: transparent;
                }
              }

              .react-dropdown {
                .react-select__control {
                  background-color: #ff8965;

                  .react-select__value-container {
                    padding: 8px 10px;
                    line-height: 22px;

                    .react-select__placeholder,
                    .react-select__single-value {
                      color: #fff;
                      text-transform: capitalize;
                      line-height: 22px;
                      font-size: 1rem;
                      font-weight: 400;
                      white-space: pre;
                    }
                  }
                }

                .react-select__menu {
                  background: #ffefe9;

                  .react-select__option:hover {
                    background-color: #fe8965;
                    color: white;
                  }

                  .css-d7l1ni-option,
                  .css-tr4s17-option {
                    background: transparent;
                    color: black;
                  }
                }
              }
            }

            center {
              .btn.btn-primary {
                padding: 7px 20px;
                color: #fff;
                font-size: 1.2rem;
                border-radius: 0;
                line-height: 25px;
                // background-color: #ff8965;
                // border-color: #ff8965;
                border-radius: 0.3rem;
              }
            }

            .btn-login {
              margin-bottom: 20px;

              .btn-primary {
                background: $skyBlue;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                border: none;
                padding: 12px 0;
                border-radius: 3px;
                font-weight: 600;
              }
            }

            .remember-me {
              ul {
                margin-bottom: 0;

                li {
                  .form-group {
                    font-size: 14px;
                    margin-bottom: 0 !important;

                    .form-check {
                      margin-bottom: 0;

                      label {
                        padding-left: 5px;
                        color: $lightGrey;
                        vertical-align: middle;
                      }
                    }
                  }

                  a {
                    text-decoration: none;
                    color: $skyBlue;
                    font-size: 13px;
                  }
                }
              }
            }

            p {
              color: $lightGrey;
              font-size: 14px;
            }
          }
        }
      }
    }

    &#ResetPasswordModal {
      p {
        color: $lightGrey;
        font-size: 14px;
      }

      form {
        .form-control-icon {
          width: 24px;
          height: 24px;
        }

        a {
          color: $skyBlue;
          font-weight: 500;
          font-size: 13px;
          text-transform: inherit;
        }
      }
    }

    &#SignUpModal {
      .modal-dialog {
        max-width: 520px;

        @media screen and (max-width: 545px) {
          max-width: 95%;
        }

        form {
          .form-group {
            .label-form {
              color: $lightGrey;
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 1rem !important;
            }

            .form-check {
              label {
                font-weight: 500;
              }
            }
          }

          .acceptance {
            margin-bottom: 20px;

            .form-group {
              margin-bottom: 0 !important;

              .form-check {
                min-height: auto;
                margin-bottom: 0;

                .form-check-label {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobFooter {
  background: #27123e;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;

  ul {
    color: white;
    list-style: none;
    justify-content: space-around;
    padding-left: 0 !important;
    margin: 10px 0 !important;

    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      button {
        background: transparent !important;
      }

      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .bounce-icon {
    animation: bounce 2s infinite;
    width: 40px !important;
    height: 40px !important;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-15px);
    }

    60% {
      transform: translateY(-8px);
    }
  }

  .shake-icon {
    display: inline-block;
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
    animation-iteration-count: infinite;
  }

  @keyframes wobble-hor-bottom {

    0%,
    100% {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    15% {
      -webkit-transform: scale(1.2) rotate(-6deg);
      transform: scale(1.2) rotate(-6deg);
    }

    30% {
      -webkit-transform: rotate(6deg);
      transform: rotate(6deg);
    }

    45% {
      -webkit-transform: rotate(-9deg);
      transform: rotate(-9deg);
    }

    60% {
      -webkit-transform: rotate(9deg);
      transform: rotate(9deg);
    }

    75% {
      -webkit-transform: rotate(-6deg);
      transform: rotate(-6deg);
    }
  }

}